

# Pycharm project files
.idea
*.iml
out
gen

#Settings for cameras and images for testing
data/images
data/motox40
data/pi1
data/pi2
data/stereo
data/webcam1
data/info.txt

#Test files
tests/test.py
tests/stereotest.py
tests/main.py

#venv stuff
idea/
anaconda_projects/

#venv
venv

src/NoiseRemoval.py
