

# Pycharm project files
.idea
*.iml
out
gen

# Images for testing
Project1/images/

#Settings for cameras
Project1/data

#Main file
Project1/test.py

#Extra not needed fluff
idea/
anaconda_projects/

#venv
venv

__pychache__